<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature tracker</title>
    {{- /*gotype: TemperatureTracker/server/handlers.indexData*/ -}}
</head>
<body>
    <table>
        <caption>
            <h3>Current indoor temperature</h3>
        </caption>

        <tr>
            <th>Sensor</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Time</th>
        </tr>

        {{range .Readings}}
            <tr>
                <td>{{.Sensor}}</td>
                <td>{{.Temperature}}</td>
                <td>{{.Humidity}}</td>
                <td>{{.Time.Format "02.01.2006. 15:04:05"}}</td>
            </tr>
        {{end}}
    </table>
</body>
</html>